{{#if orm}}
DATABASE_URL=""
{{/if}}
{{#if (eq auth "authjs")}}
AUTH_SECRET=""
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""
{{else if (eq auth "clerk")}}
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="" 
CLERK_SECRET_KEY=""
{{/if}}
